@media screen and (max-width:767px){
    .wrapper{
        width:300px;
    }
    .header{
        width:300px;
    }
    .left{
        width:100px;
    }
    .right{
        width: 200px;
    }
    .right-right{
        width:75px;
    }
    .right-left-top{
        width:125px;
    }
    .right-left-footer{
        width: 125px;
    }
    .right-footer{
        width:200px;
    }
    .footer{
        width:300px;
    }
}

@media screen and (max-width:479px){
    .wrapper{
        width:150px;
    }
    .header{
        width:150px;
    }
    .left{
        width:150px;
        float:none;
    }
    .right{
        width:150px;
        float:none;
    }
    .right-right{
        width: 150px;
        float:none;
    }
    .right-left-top{
        width:150px;
    }
    .right-left-footer{
        width:150px;
    }
    .right-footer{
        width:150px;
    }
    .footer{
        width:150px;
    }
}